.App-header {
  display: flex;
  position: fixed;
  justify-self: anchor-center;
  flex-direction: column;
}

.last-competitor, .winner {
  display: flex;
  align-items: center;
}

.img-line {
  display: flex;
}

.winner-image {
  position: fixed;
  justify-self: anchor-center;
  align-self: anchor-center;
}

button {
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .animLeft {
    animation: spin infinite 2s linear;
  }
}

@keyframes spin {
  from { 
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(.1, 1, .1, 360deg);
  }
}